<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrimeBites</title>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/components.css">
</head>
<body style="min-height: 100vh; display: flex; flex-direction: column;">
    <%- include('../partials/navbar') %>
    
    <main style="margin-top: 100px; padding: var(--spacing-6); flex-grow: 1;">
        <%- include('../partials/flash') %>
        <%- body %>
    </main>

</body>
</html>
