<% layout('layouts/boilerplate')%>
<div class="container section" style="text-align: center;">
    <h1 class="display-lg">404</h1>
    <p class="headline-sm">Page Not Found</p>
    <a href="/" class="btn btn-primary" style="margin-top: 2rem;">Go Back Home</a>
</div>
